<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\Python310\python.exe|D:\home\Python310\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <match url="^static/.*" ignoreCase="true" />
          <action type="Rewrite" url="^static/.*" appendQueryString="true" />
        </rule>
        <rule name="Configure Python" stopProcessing="true">
          <match url="(.*)" ignoreCase="false" />
          <action type="Rewrite" url="app.py" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <fastCgi>
      <application fullPath="D:\home\Python310\python.exe" arguments="D:\home\Python310\Lib\site-packages\wfastcgi.py" maxInstances="16" idleTimeout="21600" activityTimeout="600" requestTimeout="600" instanceMaxRequests="10000" protocol="NamedPipe" flushNamedPipe="false">
        <environmentVariables>
          <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot" />
          <environmentVariable name="WSGI_HANDLER" value="app.app" />
        </environmentVariables>
      </application>
    </fastCgi>
  </system.webServer>
</configuration>
